@font-face {
    font-family: 'BPG Mrgvlovani';
    src: url('../fonts/bpg-mrgvlovani/bpg-mrgvlovani-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-mrgvlovani/bpg-mrgvlovani-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/bpg-mrgvlovani/bpg-mrgvlovani-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/bpg-mrgvlovani/bpg-mrgvlovani-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/bpg-mrgvlovani/bpg-mrgvlovani-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/bpg-mrgvlovani/bpg-mrgvlovani-webfont.svg#bpg_mrgvlovaniregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Mrgvlovani Caps';
    src: url('../fonts/bpg-mrgvlovani-caps/bpg-mrgvlovani-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-mrgvlovani-caps/bpg-mrgvlovani-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/bpg-mrgvlovani-caps/bpg-mrgvlovani-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/bpg-mrgvlovani-caps/bpg-mrgvlovani-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/bpg-mrgvlovani-caps/bpg-mrgvlovani-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/bpg-mrgvlovani-caps/bpg-mrgvlovani-caps-webfont.svg#bpg_mrgvlovani_capsregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.6.1');
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'),
    url('../fonts/font-awesome/fontawesome-webfont.woff2?v=4.6.1') format('woff2'),
    url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.6.1') format('woff'),
    url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.6.1') format('truetype'),
    url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}